<header>
    <nav>
        <div class="nav-logo">
            <a href="#">
                <img src="/img/logo.png" alt="Logo of the company">
            </a>
        </div>
        <div class="nav-content">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">TV Shows</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">Recently added</a></li>
            </ul>
        </div>
    </nav>
</header>