@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

:root {
    --white: #ffffff;
    --black: #000000;
    --blue: #0e1122;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    background-color: var(--blue);
}

header {
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    transition: all .3s ease-in-out;
    z-index: 2;
    
    nav {
        height: 100%;
        width: 100%;
        display: flex;

        .nav-logo {
            height: 100%;
            flex: 1 0 200px;
            width: 200px;
            max-width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 50px;
                transform-origin: center center;

                &:hover {
                    animation: rotate 3s ease-in-out infinite;
                    cursor: pointer;
                }
            }
        }

        .nav-content {
            height: 100%;
            flex: 1 0 calc(100% - 200px);
            width: calc(100% - 200px);
            max-width: calc(100% - 200px);

            ul {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                gap: 30px;
                margin: 0;
                padding: 0;

                li {
                    list-style-type: none;

                    a {
                        font-size: 20px;
                        color: var(--white);
                        text-decoration: none;
                        transition: all .2s ease-in-out;

                        &:hover {
                            cursor: pointer;
                            color: red;
                        }
                    }
                }
            }
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);    
    }
    
    35% {
        transform: rotate(120deg);
    }

    70% {
        transform: rotate(240deg);
    }

    to {
        transform: rotate(360deg);
    }
}

h1 {
    text-align: center;
    font-size: 65px;
}

h1, h2 {
    color: var(--white);
    letter-spacing: 3px;
}

h3 {
    font-size: 70px;
    color: var(--white);
    letter-spacing: 3px;
}

p {
    font-family: "Roboto", sans-serif;
}

.content-wrapper {
    padding-bottom: 150px;

    .featured-wrapper {
        width: 100%;
        height: 650px;
        position: relative;
        background-image: url('/img/Background-heroes.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .featured-overlay {
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, #000000, rgba(0, 0, 0, 0));
            position: relative;

            .featured-text {
                position: absolute;
                left: 50px;
                top: 25%;
                max-width: 600px;
                color: var(--white);
                display: flex;
                flex-direction: column;
                gap: 25px;

                h3 {
                    margin: 0;
                }

                p {
                    line-height: 1.5;
                    margin: 0;
                }

                .button-holder {
                    margin-top: 15px;
                    button {
                        border: 3px solid var(--white);
                        background-color: transparent;
                        color: white;
                        padding: 15px 25px;
                        font-family: "Bebas Neue", sans-serif;
                        letter-spacing: 2px;
                        font-size: 16px;
                        transition: .3s all ease-in-out;

                        &:before {
                            content: ""
                        }

                        &:hover {
                            cursor: pointer;
                            background-color: var(--white);
                            color: var(--black);
                        }
                    }
                }
            }
        }
    }
}

.movies, .category-title {
    padding-left: 50px;
}

.swiper-button-next, .swiper-button-prev {
    color: var(--white);
}

.movies {
    .swiper-wrapper {
        .card {
            position: relative;

            .card-image {
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

/* ---------- MOVIE DETAILS PAGINA ---------- */

.movie-details {
    p {
        color: var(--white);
    }
}


