<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head %}
    <title>My First Page</title>
  {% endblock %}
  {% if NODE_ENV == "development" %}
    <script type="module" src="http://localhost:5173/@vite/client" defer></script>
    <script type="module" src="http://localhost:5173/src/index.js" defer></script>
  {% else %}
    <link rel="stylesheet" href="/main.css">
    <script src="/main.js" defer></script>
  {% endif %}
  {% block styles %}{% endblock %}
  {% block scripts %}{% endblock %}
</head>

<body>
  {% block content %}{% endblock %}
</body>
</html>
