.backdrop-image {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.backdrop-image__container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: .75;
  z-index: -1;
}

.backdrop-image__container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(26, 26, 26, 0), #1a1a1a);
}

.movie__info {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  padding: 20px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.movie__info-image {
  width: 100%;
  max-width: 250px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.movie__info-description {
  text-align: left;
  margin-bottom: 20px;
}
