{% layout "layouts/base.liquid" %}

{% block content %}
<ul class="grid">
  {% for movie in movieData.results %}
    {% if movie.original_title %}
      {% assign mov = movie.original_title %}
    {% else %}
      {% assign mov = movie.name %}
    {% endif %}
    <li>
      <a href="/movie/{{ movie.id }}">
        {% render 'components/poster/poster.liquid', movie: movie %}
        {% comment %}<pre>{{ movie | json }}</pre>{% endcomment %}
        {% comment %}<img src="https://image.tmdb.org/t/p/w500/{{ movie.backdrop_path }}" alt="">{% endcomment %}
      </a>
    </li>
  {% endfor %}
</ul>
{% endblock %}
